{% load i18n nbsp %}

<div class="detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ profile.name }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ profile.profile_id }}</dd>
    <dt>{% trans "Type" %}</dt>
    <dd>{{ profile.type }}</dd>
    <dt>{% trans "Spec" %}</dt>
    <dd>{{ profile.profile_spec|force_escape|nbsp|linebreaksbr }}</dd>
    {% if profile.permission %}
    <dt>{% trans "Permission" %}</dt>
    <dd>{{ profile.permission }}</dd>
    {% endif %}
    <dt>{% trans "Created" context "Created time" %}</dt>
    <dd>{{ profile.created_at|parse_isotime }}</dd>
    {% if profile.updated_at %}
    <dt>{% trans "Updated" context "Updated time" %}</dt>
    <dd>{{ profile.updated_at|parse_isotime }}</dd>
    {% endif %}
  </dl>

  {% if profile.profile_metadata.vars %}
    <h4>{% trans "Metadata" %}</h4>
    <hr class="header_rule">
    <dl class="dl-horizontal">
      <dd>{{ profile.profile_metadata|force_escape|nbsp|linebreaksbr }}</dd>
    </dl>
  {% endif %}
</div>
