{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Update Profile" %}{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "You may update the editable properties of your profile here." %}</p>
{% endblock %}

{% block modal-footer %}
  <a href="{% url 'horizon:cluster:profiles:index' %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
  <input class="btn btn-primary" type="submit" value="{% trans "Update Profile" %}" />
{% endblock %}
