*.egg*
*.lock
*.py[cod]
*.sw[op]
*.sqlite3
*nose_results.html

.DS_Store
.DS_STORE
.coverage*
.environment_version
.idea
.noseids
.project
.pydevproject
.selenium_log
.tox

AUTHORS
ChangeLog
build
cover
coverage.xml
dist
doc/build/
doc/source/contributor/api/
horizon.egg-info
node_modules
nosetests.xml
npm-debug.log
openstack_dashboard/dummydb.sqlite
pep8.txt
pylint.txt
releasenotes/build
reports
senlin_dashboard/test/.secret_key_store
tags

