from senlin_dashboard import exceptions

DASHBOARD = 'cluster'
ADD_INSTALLED_APPS = [
    'senlin_dashboard',
    'senlin_dashboard.cluster'
]
DEFAULT = True
AUTO_DISCOVER_STATIC_FILES = True
ADD_ANGULAR_MODULES = ['horizon.cluster']

ADD_EXCEPTIONS = {
    'recoverable': exceptions.RECOVERABLE,
    'not_found': exceptions.NOT_FOUND,
    'unauthorized': exceptions.UNAUTHORIZED,
}
