{% extends "horizon/common/_modal_form.html" %}
{% load i18n %}

{% block modal-header %}{% trans "Create Cluster" %}{% endblock %}

{% block modal-body-right %}
  <h3>{% trans "Description:" %}</h3>
  <p>{% trans "Cluster is the collection of cloud objects, e.g. Nova servers, Heat stacks, Cinder volumes, etc." %}</p>
{% endblock %}

{% block modal-footer %}
  <a href="{% url 'horizon:cluster:clusters:index' %}" class="btn btn-default cancel">{% trans "Cancel" %}</a>
  <input class="btn btn-primary" type="submit" value="{% trans "Create Cluster" %}" />
{% endblock %}
