{% load i18n nbsp %}

<div class="detail">
  <h4>{% trans "Information" %}</h4>
  <hr class="header_rule">
  <dl class="dl-horizontal">
    <dt>{% trans "Name" %}</dt>
    <dd>{{ policy.name }}</dd>
    <dt>{% trans "ID" %}</dt>
    <dd>{{ policy.id }}</dd>
    <dt>{% trans "Type" %}</dt>
    <dd>{{ policy.type }}</dd>
    <dt>{% trans "Spec" %}</dt>
    <dd>{{ policy.policy_spec|force_escape|nbsp|linebreaksbr }}</dd>
    <dt>{% trans "Created" context "Created time" %}</dt>
    <dd>{{ policy.created_at|parse_isotime }}</dd>
    {% if node.updated_at %}
    <dt>{% trans "Updated" context "Updated time" %}</dt>
    <dd>{{ policy.updated_at|parse_isotime }}</dd>
    {% endif %}
  </dl>
</div>
